.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 25%;
}

*:focus {
    outline: none;
}

 '&.Mui-selected': {
      outline: 'none',                                                                   
    }
